body {
  height: 60svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.btns {
  display: flex;
  column-gap: 10px;
}
.btn {
  padding: 6px 10px;
  cursor: pointer;
}
